.App {
  text-align: center;
}

.headTitle{
  color:rgb(61, 61, 245);
  display: flex;
  align-items: center;
  justify-content: center;

}

.submitButton{
  display: flex;
  justify-content: center;
  align-items: center;
}